.header {
    margin: 15px 10px;

    .product-name {
        display: flex;
        justify-content: space-between;
        align-content: center;
        
        h1 {
            font-size: 1.1rem;
        }
    }
}