<div class="header">
    <div class="product-name">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2699 21.1043L12.175 20.1886C12.3893 19.9719 12.3893 19.6205 12.175 19.4037L5.08338 12.2293H20.6917C20.9946 12.2293 21.2402 11.9808 21.2402 11.6743V10.3794C21.2402 10.0729 20.9946 9.82439 20.6917 9.82439H5.08338L12.175 2.64991C12.3893 2.43319 12.3893 2.08179 12.175 1.86503L11.2699 0.949405C11.0557 0.732685 10.7084 0.732685 10.4941 0.949405L0.920917 10.6344C0.7067 10.8511 0.7067 11.2025 0.920917 11.4193L10.4941 21.1043C10.7083 21.3211 11.0557 21.3211 11.2699 21.1043Z" fill="#333333"/>
        </svg>                    
        <h1>{{ title }}</h1>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="5" cy="5" r="3" fill="#333333"/>
            <circle cx="15" cy="5" r="3" fill="#333333"/>
            <circle cx="15" cy="16" r="3" fill="#333333"/>
            <circle cx="5" cy="16" r="3" fill="#333333"/>
        </svg>                    
    </div>
</div>