

.choose-payment {
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin: 20px;
}

h3 {
    margin: 30px 0;
}

img {
    max-width: 100%;
}

button {
    display: block;
    border-radius: 30px;
    background: #000;
    color: #fff;
    margin: 10px auto;
    width: 50%;
}