<div class="choose-payment">

    <h2>Your inquery has been approved!</h2>

    <img src="../../assets/baloons.gif" />
    
    <h3>Choose payment method</h3>
    
    <button class="btn btn-dark">Apple Pay</button>
    <button class="btn btn-dark">Swish</button>
    <button class="btn btn-dark">Credit card</button>
</div>