.lend-item {
    background: #fff;
    box-shadow: 1px 1px #dbd9d9;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.lend-item button {
    display: block;
    margin: 10px auto 0 auto;
    width: 50%;
    background: #000;
    color: #fff;
    border-radius: 30px;
}