<div class="lend-item">
    <h3>Do you want to {{ action }} this {{ item }}?</h3>
    <small>Fill in date and and send inquiry to {{action}}er.</small>
    <button class="btn btn-success btn-dark" (click)="sendRequest()">Send</button> 
</div>