<div class="wrapper">
    <div class="container">
        <div class="transfer-header">            
            <img src="../../assets/profil.png" alt="Profil" />
            <h3 *ngIf="!showConfirmation && !loader">Transfer ownership to {{ rentedBy }}</h3>
            <p *ngIf="!showConfirmation && !loader"><strong>Price:</strong> 12 000 SEK</p>
        </div>

        <div *ngIf="!showConfirmation && !loader" class="button-container">
            <button class="btn btn-dark btn-success" (click)="confirm()">Confirm</button>
            <button class="btn btn-dark">No thanks</button>
        </div>
        
        <div *ngIf="showConfirmation && !loader" class="payment">            
            <h3 *ngIf="!payed">The transfer has now been completed.</h3>
        </div>
        
        <div *ngIf="loader" class="load-gif">
            <img src="../../assets/loader.gif" />
        </div>
    </div>
</div>