.product-pic{
    width: 100%;
    margin-bottom: 10px;
}

.wrapper .container {    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;

    .rent-header {
        width: 100%;
        margin-top: 15px;

        .product-name {
            display: flex;
            justify-content: space-between;
            align-content: center;
            margin-bottom: 50px;
            
            h1 {
                font-size: 1.1rem;
                margin-bottom: 50px;
            }
        }

        h3 { margin-top: 20px; }
    }

    .button-container {    
        margin-bottom: 30px;
        width: 100%;

        button { 
            display: block;
            width: 100%;
            margin: 10px 0; 

            &.btn-success {
                background: #333333;
                color: #fff;
            }
        }
    }    

    .load-gif img {
        filter: invert(1);
        width: 50px;
        margin-bottom: 150px;
    }

    .loader {
        margin-bottom: 50px;

        .status {
            h3 { margin-bottom: 20px; }
            ul {
                list-style: none;
                padding: 0;
                font-size: 14px;
                text-align: left;
                position: relative;

                li {
                    margin-bottom: 20px;
                    position: relative;

                    &.done {
                        color: #aaa;
                    }

                    svg {
                        margin-right: 10px;
                    }

                    svg.sep {
                        position: absolute;
                        left: 7px;
                        top: 23px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.input-container {
    padding: 10px;

    .date, .price, .name, .phone {
        position: relative;
        
        .icon {
            position: absolute;
            width: 50px;
            height: 30px;
            top: 7px;
            z-index: 10;
            border-right: 1px solid #E6E6E6;
            
            svg {
                position: absolute;
                top: 5px;
                left: 15px;
            }
        }

        input {
            padding-left: 65px;
        }

        &.name {
            margin-top: 15px;
        }

        &.date input, &.name input {            
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.price input, &.phone input {            
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &.name input, &.date input {
            border-bottom: 0;
        } 
    }
    
    input.price {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.product-information {
    background: #fff;
    padding: 20px;
    color: #333;
    margin: 10px 0;
    
    p { 
        font-size: 14px; 
        
        &:last-of-type { margin-bottom: 0; }
    }

    h5 { font-size: 16px; }
}

.map svg {
    max-width: 100%;
}

.product-container { margin-bottom: 20px;}

.loader {
    text-align: center;
    margin-top: 50px;

    img {
        filter: invert(1);
        width: 50px;
        margin-bottom: 150px;
    }
}

.confirmation {
    margin-top: 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    h3 {
        margin-top: 50px;
    }

    ul.status {
        list-style: none;
        padding: 0;
        font-size: 14px;
        text-align: left;
        position: relative;
        width: 200px;
        margin: 30px auto;

        li {
            margin-bottom: 20px;
            position: relative;

            &.done {
                color: #aaa;
            }

            svg {
                margin-right: 10px;
            }

            svg.sep {
                position: absolute;
                left: 7px;
                top: 23px;
                height: 20px;
            }
        }
    }
}