<div class="wrapper">
    <div class="container">
        <div class="rent-header">            
            <img src="../../assets/profil.png" alt="Profil" />
            <h3 *ngIf="!showConfirmation && !loader">{{ rentedBy }} wants to rent your {{ productCategory }}.</h3>
            <p *ngIf="!showConfirmation && !loader">Time: {{ rentedDays }} days</p>
        </div>

        <div *ngIf="!showConfirmation && !loader" class="button-container">
            <button class="btn btn-dark btn-success" (click)="approve()">Confirm</button>
            <button class="btn btn-dark">No thanks</button>
        </div>
        
        <div *ngIf="showConfirmation && loader" class="payment">
            <h3 *ngIf="!payed">Waiting for {{ rentedBy }} payment..</h3>
            
            <h3 *ngIf="payed">{{ rentedBy }} has payed!</h3>
            <p *ngIf="payed">You will receive {{ rentedPrice }} to your account.</p>
        </div>
        
        <div *ngIf="loader && !payed" class="load-gif">
            <img src="../../assets/loader.gif" />
        </div>

        <div *ngIf="showConfirmation" class="loader">
            <div *ngIf="!loader" class="status">
                <h3>Status:</h3>
                <ul>
                    <li class="done">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#45B400"/>
                            <path d="M11.4115 4.80005L12.0001 5.39406L6.24542 11.2L3.6001 8.5792L4.18501 7.98907L6.24244 10.0648L11.4115 4.80005Z" fill="white"/>
                        </svg>
                        Request to rent
                        <svg class="sep" width="2" height="28" viewBox="0 0 2 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="1" y1="1" x2="1" y2="27" stroke="#ADADAD" stroke-width="2" stroke-linecap="round" stroke-dasharray="0.1 6"/>
                        </svg>                                  
                    </li>
                    <li class="done">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#45B400"/>
                            <path d="M11.4115 4.80005L12.0001 5.39406L6.24542 11.2L3.6001 8.5792L4.18501 7.98907L6.24244 10.0648L11.4115 4.80005Z" fill="white"/>
                        </svg>
                        You have confirmed
                        
                        <svg class="sep" width="2" height="28" viewBox="0 0 2 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="1" y1="1" x2="1" y2="27" stroke="#ADADAD" stroke-width="2" stroke-linecap="round" stroke-dasharray="0.1 6"/>
                        </svg>
                    </li>
                    <li>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="7.5" stroke="#CECECE"/>
                        </svg>                            
                        {{ rentedBy }} pays rent {{ rentedPrice }} 
                        <svg class="sep" width="2" height="28" viewBox="0 0 2 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="1" y1="1" x2="1" y2="27" stroke="#ADADAD" stroke-width="2" stroke-linecap="round" stroke-dasharray="0.1 6"/>
                        </svg>                         
                    </li>
                    <li>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="7.5" stroke="#CECECE"/>
                        </svg>                            
                        Done!                          
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>