
.wrapper .container {    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    align-items: center;

    h3 { margin-top: 20px; }

    .button-container {    
        margin-bottom: 30px;
        width: 100%;

        button { 
            display: block;
            width: 100%;
            margin: 10px 0; 

            &.btn-success {
                background: #333333;
                color: #fff;
            }
        }
    }    

    .load-gif img {
        filter: invert(1);
        width: 50px;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .loader {
        margin-bottom: 50px;

        .status {
            h3 { margin-bottom: 20px; }
            ul {
                list-style: none;
                padding: 0;
                font-size: 14px;
                text-align: left;
                position: relative;

                li {
                    margin-bottom: 20px;
                    position: relative;

                    &.done {
                        color: #aaa;
                    }

                    svg {
                        margin-right: 10px;
                    }

                    svg.sep {
                        position: absolute;
                        left: 7px;
                        top: 23px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
