/* You can add global styles to this file, and also import other style files */
@import '@sebgroup/bootstrap/scss/core';
@import '~@sebgroup/bootstrap/scss/bootstrap';
@import '~@sebgroup/ng-bootstrap/scss/ng-bootstrap';

// @import '@'

body, html {
    margin: 0;
    background-color: #f0f0f0;
}

